*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #090c31;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita barras de desplazamiento */
    margin: 0;
}

.calculadora {
    background-color: #90EE90;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que la calculadora esté encima de las burbujas */
}

   

.pantalla{
    grid-column: 1 / -1;
    background-color: #090c31;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;

}

.btn {
    background-color: #15173c;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;


}

.btn:hover{
    background-color: #090c31;

}

#cero {
    grid-column: span 2;

}

#igual {
    grid-row: span 2;
    background-color: #e6394a;
}
#igual:hover{
    background-color: #e65766;
    
}
#borrar{
    background-color: #e65766;

}
#borrar:hover{
    background-color: #e6394a;
}
#C{
    background-color: #5c7c1d;
}
#C:hover{
    background-color: #98BF47;
}



/* ///burbujas/// */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Asegura que las burbujas estén detrás de la calculadora */
}

.bubbles {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px #4fc3dc,
        0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
        0 0 50px #ff2d75,
        0 0 100px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1)
    }
}



